/* General Reset */
* {
  padding: 0;
  margin: 0;
}

#clock {
  width: 370px;
  /* padding: 40px; */
  position: relative;
  margin: auto;
  box-sizing: border-box;
}

.clock-display {
  text-align: center;
  border-radius: 6px;
  background-color: #f3f3f3;
  padding: 20px;
}

.clock-weekdays-block {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-bottom: 10px;
}

.day-block {
  opacity: 0.3;
  margin: 0 5px;
}

.day-block.active {
  opacity: 1;
  font-weight: bold;
}

.digits .time {
  font-size: 60px;
  font-weight: bold;
}

.clock-date .small {
  font-size: 20px;
}

#clock.light .display {
  background-color: #dddddd;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08) inset, 0 1px 1px #fafafa;
}

#clock.dark .display {
  background-color: #0f1620;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08) inset, 0 1px 1px #2d3642;
  color: #cacaca;
}

.time-setter {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.time-setter input {
  margin-right: 10px;
  padding: 5px;
  font-size: 18px;
}
.set-button {
  font-weight: bold;
  font-size: 18px; /* Adjust the font size as needed */
}
