<div style="padding-left:10px;padding-top: 2px; font-size: 20px !important;">
  <form [formGroup]="m7tabform">
    <div class="group-container mt-2">
      <div class="group-box">
        <div class="row">
              <div class="col-6"><h3>Maint</h3></div>

              <br>
              cfar_coef <ngx-slider [(value)]="value1"   [options]="options1" formControlName="cfar_coef"></ngx-slider>
              <br>
              downlink_att <ngx-slider [(value)]="value2"  [options]="options2"  formControlName="downlink_att"></ngx-slider>
              <br>
              uplink_gain <ngx-slider [(value)]="value3"  [options]="options3"  formControlName="uplink_gain"></ngx-slider>
              <br>
              self_tester_att <ngx-slider [(value)]="value4" [options]="options4"  formControlName="self_tester_att"></ngx-slider>
              <br>

        </div>
      </div>
    </div>
  </form>
</div>
