<div style="padding-left:10px;padding-top: 2px; font-size: 20px !important;">
  <form [formGroup]="m1tabform">
    <div class="group-container" *ngIf="resdata">
      <div class=" group-box">
        <h3>Uplink Data</h3>
        <div class="row">
          <div class="col-2">
            xt<span class="ml-2 label-border" id="xt"> {{ resdata.m1_xt }}</span>
          </div>
          <div class="col-2">
            yt<span  class="ml-2 label-border" id="yt">{{ resdata.m1_yt }}</span>
          </div>
          <div class="col-2">
            zt<span class="ml-2 label-border" id="zt">{{ resdata.m1_zt }}</span>
          </div>
          <div class="col-2">
            Xm<span class="ml-2 label-border" id="xm">{{ resdata.m1_xm }}</span>
          </div>
          <div class="col-2">
            Ym<span class="ml-2 label-border" id="ym">{{ resdata.m1_ym }}</span>
          </div>
          <div class="col-2">
            Zm<span class="ml-2 label-border" id="zm">{{ resdata.m1_zm }}</span>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-2">
           Vxt<span class="label-border" id="vxt">{{ resdata.m1_vxt }}</span>
          </div>

          <div class="col-2">
            Vyt<span class="label-border" id="vyt">{{ resdata.m1_vyt }}</span>
          </div>

          <div class="col-2">
            Vzt<span class="label-border" id="vzt">{{ resdata.m1_vzt }}</span>
          </div>

          <div class="col-2">
            Vxm<span class="label-border" id="vxm">{{ resdata.m1_vxm }}</span>
          </div>

          <div class="col-2">
            Vym<span class="label-border"  id="vym">{{ resdata.m1_vym }}</span>
          </div>

          <div class="col-2">
            Vzm<span class="label-border" id="vzm">{{ resdata.m1_vzm }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="group-container" *ngIf="!resdata">
      {{aa.m1_xt}}
    </div>
    <div class="group-container mt-2">
      <div class="group-box">
        <div class="row">
          <div class="col-6"><h3>Downlink Data</h3></div>
          <div class="col-2">Xm
            <input type="number" class="form-control" id="m1xm" formControlName="m1xm" placeholder="0" appNumericKeypad>
          </div>
          <div class="col-2">Ym
            <input type="number" class="form-control" id="m1ym" formControlName="m1ym" placeholder="0" appNumericKeypad>
          </div>
          <div class="col-2">Zm
            <input type="number" class="form-control" id="m1zm" formControlName="m1zm" placeholder="0" appNumericKeypad>
          </div>
        </div>
        <div class="row ">
          <div class="col-8"><h3>Mode</h3>
            <div class="row">
                <div class="form-check form-check-inline">
                  <input class="form-check-input  radiobuttonLarger" type="radio" formControlName="m1downdata" name="m1downdata" id="loopback"
                    value="loopback" checked>
                  <label class="form-check-label" for="loopback">LoopBack</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input  radiobuttonLarger" type="radio" formControlName="m1downdata" name="m1downdata" id="manual"
                    value="manual">
                  <label class="form-check-label" for="manual">Manual</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input  radiobuttonLarger" type="radio" formControlName="m1downdata" name="m1downdata" id="simulate"
                    value="simulate">
                  <label class="form-check-label" for="simulate">Simulate</label>
                </div>
            </div>
          </div>
          <div class="col-3 mt-1">Status
            <ng-select formControlName="m1status" name="m1status">
              <ng-option *ngFor="let sts of status" [value]="sts.id">{{sts.id}}</ng-option>
           </ng-select>
          </div>
        </div>
      </div>
    </div>
    <div class="group-box2 mt-2">
      <div class="col-12">
        <div class="row">
          <div class="col-md-4 group-box">
            <h3>Self Destruction</h3>
            <div class="row">
              <div class="col-7"><span>Status</span></div>
              <div class="col-5 label-border">
                  <span id="m1status"></span>
              </div>
            </div>
            <div class="row">
              <div class="col-7"><span>SdCount</span></div>
              <div class="col-5">
                <div class="gray-circle"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-7"><span>Comm</span></div>
              <div class="col-5">
                <div class="green-circle"></div>
              </div>
            </div>
          </div>
          <div class="col-md-4 group-box">
            <h3>Link LED Option</h3>
            <div class="row">
              <div class="col-7"><span>OnTime</span></div>
              <div class="col-5">
                <input type="number" class="form-control" id="m1ontime" placeholder="0" name="m1ontime">
              </div>
            </div>
            <div class="row mt-1">
              <div class="col-7"><span>Link Led</span></div>
              <div class="col-5">
                <div class="red-circle"></div>
              </div>
            </div>
          </div>
          <div class="col-md-4 group-box">
            <div class="row">
              <h3>       </h3>
              <div class="col-7"><span>Adm</span></div>
              <div class="col-5">
                <ng-select formControlName="m1adm" name="m1adm">
                  <ng-option *ngFor="let add of addresses" [value]="add.name">{{add.id}}</ng-option>
                </ng-select>
              </div>
            </div>
            <div class="row mt-1">
              <div class="col-7"><span>Freq</span></div>
              <div class="col-5">
                <ng-select formControlName="mfreq" name="mfreq">
                  <ng-option *ngFor="let frq of freq" [value]="frq.name">{{frq.id}}</ng-option>
                </ng-select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
