<div class="keypad-container" (mousedown)="$event.preventDefault()">
  <div class="keypad-row">
    <button (click)="appendNumber(1)">1</button>
    <button (click)="appendNumber(2)">2</button>
    <button (click)="appendNumber(3)">3</button>
  </div>
  <div class="keypad-row">
    <button (click)="appendNumber(4)">4</button>
    <button (click)="appendNumber(5)">5</button>
    <button (click)="appendNumber(6)">6</button>
  </div>
  <div class="keypad-row">
    <button (click)="appendNumber(7)">7</button>
    <button (click)="appendNumber(8)">8</button>
    <button (click)="appendNumber(9)">9</button>
  </div>
  <div class="keypad-row">
    <button (click)="appendNumber(0)">0</button>
    <button (click)="backspace()">←</button>
    <button (click)="clear()">C</button>
  </div>
</div>
