.keypad-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 250px;
  margin: 20px auto;
}

.keypad-button {
  width: 100%;
  padding: 20px;

  text-align: center;
  cursor: pointer;
  font-size: 24px;
  font-weight:600;
  background: #ffffff;
  border: 1px solid #ccc;
  border-radius: 3px;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.keypad-button:hover {
  background-color: #e0e0e0;
}

.keypad-button:active {
  background-color: #d0d0d0;
}
.keypad-red{
  background-color:red;
}
.keypad-green{
  background-color:green;
}

.keypad-blue{
  background-color:blue;
}
.keypad-button.zero {
  grid-column: span 2;
}

.keypad-button.enter {
  grid-column: span 2;
}
