<form [formGroup]="cmdForm" data-toggle="validator" role="form"
  style="padding-left:10px;padding-top: 10px;">

  <div class="row mt-2">
    <div class="col-md-3">
      <div class="form-check">
        <input class="form-check-input radiobuttonLarger" formControlName="testmode"  type="radio"
          name="testmode" id="txoff" value="txoff" (change)="testmodeChanged($event);" checked>
        <label class="form-check-label">
          TxOff
        </label>
      </div>
      <div class="form-check mt-2">
        <input class="form-check-input radiobuttonLarger" formControlName="testmode"  type="radio"
          name="testmode" id="directmds" value="directmds" (change)="testmodeChanged($event);">
        <label class="form-check-label">
          DirectMds
        </label>
      </div>
      <div class="form-check mt-2">
        <input class="form-check-input radiobuttonLarger" formControlName="testmode"  type="radio"
          name="testmode" id="directpwr" value="directpwr" (change)="testmodeChanged($event);">
        <label class="form-check-label">
          DirectPwr
        </label>
      </div>

      <div class="form-check mt-2">
        <input class="form-check-input radiobuttonLarger" formControlName="datamode"  type="radio"
          name="datamode" id="manual" (change)="datamodeChanged($event);" value="manual" checked>
        <label class="form-check-label">
          Radiate Manual
        </label>
      </div>
      <div class="form-check mt-2">
        <input class="form-check-input radiobuttonLarger" formControlName="datamode"  type="radio"
          name="datamode" id="lpbk" (change)="datamodeChanged($event);" value="lpbk">
        <label class="form-check-label">
          Radiate LPBK
        </label>
      </div>
      <div class="form-check mt-2">
        <input class="form-check-input radiobuttonLarger" formControlName="datamode" type="radio"
          name="datamode" id="sim" (change)="datamodeChanged($event);" value="sim">
        <label class="form-check-label">
          Radiate SIM
        </label>
      </div>
    </div>
    <div class="col-md-5" *ngIf="showDirectPwr">
      <div class="row mt-2">
        <div class="col-sm-3">
          <label>Couple</label>
        </div>
        <div class="col-sm-9">
          <input type="number" class="form-control" id="couple" placeholder="couple" formControlName="couple" name="couple">
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-sm-3">
          <label>Unit</label>
        </div>

        <div class="col-sm-9">
          <div class="form-check form-check-inline">
            <label>w</label>
            <input formControlName="unit"  type="radio" name="unit" id="unitW" value="w" checked>
          </div>
          <div class="form-check form-check-inline">
            <label>dBm</label>
            <input formControlName="unit"  type="radio" name="unit" id="unitdBm" value="dBm" >
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-sm-3">
          <label>Pwr</label>
        </div>
        <div class="col-sm-9">
            <div class="row">
              <div class="col-sm-10">
              <input type="number" class="form-control" id="pwr" formControlName="pwr" name="pwr">
              </div>
              <div class="col-sm-2">
                {{unit}}
              </div>
            </div>
        </div>
      </div>
    </div>


    <div class="col-md-4" *ngIf="showDirectMds">
      <div class="row">
        <div class="col-sm-3">
        <label>Att</label>
        </div>
        <div class="col-sm-9">
          <div class="row">
             <div class="col-sm-10">
                <input type="number" class="form-control" id="att" formControlName="att" step=".5" min="-80"
                    max="20">
              </div>
              <div class="col-sm-2">
                (+20/-80)
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <label class="col-sm-4 success">Rx Ok</label>
        <label class="col-sm-4 Fail">Rx Fail</label>
      </div>
    </div>
  </div>
</form>