<form [formGroup]="cmdForm" data-toggle="validator" role="form" (ngSubmit)="onSubmit()"
  style="padding-left:10px;padding-top: 10px;">

  <div class="row">

    <div class="col-md">
      <div class="form-check">
        <input class="form-check-input radiobuttonLarger" formControlName="testmode" [(ngModel)]="testmode" type="radio" name="testmode"
          id="txoff" value="txoff" (change)="testmodeChanged($event);" checked>
        <label class="form-check-label">
          TxOff
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input radiobuttonLarger" formControlName="testmode" [(ngModel)]="testmode" type="radio" name="testmode"
          id="directmds" value="directmds" (change)="testmodeChanged($event);">
        <label class="form-check-label">
          DirectMds
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input radiobuttonLarger" formControlName="testmode" [(ngModel)]="testmode" type="radio" name="testmode"
          id="directpwr" value="directpwr" (change)="testmodeChanged($event);">
        <label class="form-check-label">
          DirectPwr
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input radiobuttonLarger" formControlName="datamode" [(ngModel)]="datamode" type="radio" name="datamode"
          id="manual" (change)="datamodeChanged($event);" value="manual" checked>
        <label class="form-check-label">
          Radiate Manual
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input radiobuttonLarger" formControlName="datamode" [(ngModel)]="datamode" type="radio" name="datamode"
          id="lpbk" (change)="datamodeChanged($event);" value="lpbk">
        <label class="form-check-label">
          Radiate LPBK
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input radiobuttonLarger" formControlName="datamode" [(ngModel)]="datamode" type="radio" name="datamode"
          id="sim" (change)="datamodeChanged($event);" value="sim">
        <label class="form-check-label">
          Radiate SIM
        </label>
      </div>
    </div>

    <div class="col-md" *ngIf="showDirectPwr">
      <div class="row form-group">
        <label >Couple</label>
        <div class="col-sm-9">
          <input type="number" class="form-control" id="couple" placeholder="couple" formControlName="couple">
        </div>
      </div>

      <div class="row form-group">
        <label class="col-sm-3">Unit</label>
        <div class="col-sm-9">
          <div class="form-check form-check-inline">
            <label>w</label>
            <input formControlName="unit" [(ngModel)]="unit" type="radio" name="unit" id="unitW" value="w" checked>
          </div>
          <div class="form-check form-check-inline">
            <label>dBm</label>
            <input formControlName="unit" [(ngModel)]="unit" type="radio" name="unit" id="unitdBm" value="dBm">
          </div>
        </div>
      </div>

      <div class="row form-group">
        <label class="col-sm-2">Pwr</label>
        <div class="col-sm-9">
          <input type="number" class="form-control" id="pwr" formControlName="pwr">{{unit}}
        </div>
      </div>
    </div>

    <div class="col-md" *ngIf="showDirectMds">
      <div class="row form-group">
        <label>Att</label>
        <div class="col-sm-9">
          <input type="number" class="form-control" id="att" formControlName="att" step=".5" min="-80" max="20">(+20/-80)
        </div>
      </div>      
      <div class="row form-group">
        <label class="col-sm-4">Rx Ok</label>
        <label class="col-sm-4">Rx Fail</label>
      </div>
    </div>

  </div>
</form>
<alert type="success" *ngIf="showValue">
  {{cmdForm.value | json}}
  <strong>Well done!</strong> You successfully read this important alert message.
</alert>