
/* You can add global styles to this file, and also import other style files */
body{
    font-size: 28px;
    font-weight: 600; /*400 is norman*/
}


/*for genreate box  in forms*/
.group-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
.group-box {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    flex: 1;
  }
  .group-box h3 {
    margin-top: 0;
  }

  .digitalSection {
    background-color: #f8f9fa;
    margin-top: 52px;
    border: 1px solid #ccc;
    /* padding: 10px; */
    border-radius: 5px;
    flex: 1;
  }
  .powerSection {
    background-color: #f8f9fa;
    margin-top: -2px;
    margin-bottom: -5px;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    flex: 1;
  }
  .recordSection {
    background-color: #f8f9fa;
    margin-top:3px;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    flex: 1;
  }
/*border on lable*/
.label-border {
  border: 1px solid #abaeb1; /* Blue border */
  padding: 5px 10px;
  display: inline-block;
}

/*red LED */
.red-circle {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}
/*gray LED */
.gray-circle {
  width: 20px;
  height: 20px;
  background-color: rgb(143, 134, 134);
  border-radius: 50%;
  display: inline-block;
}
/*Green LED */
.green-circle {
  width: 20px;
  height: 20px;
  background-color: rgb(44, 192, 31);
  border-radius: 50%;
  display: inline-block;
}
