
/* You can add global styles to this file, and also import other style files */
body{
    font-size: 28px;
    font-weight: 600; /*400 is norman*/
}

.group-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  
  .group-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    flex: 1;
  }
  
  .group-box h3 {
    margin-top: 0;
  }